.download_btn {
    display: block;
    background: #fec608;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    color: #222222;
    font-size: 16px;
    font-family: "Yellowtail", cursive;
    position: relative;
    overflow: hidden;
  }
  
  .download_btn span {
    display: inline-block;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    transition: all 400ms linear 0s;
  }